<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Mukta+Vaani:wght@200;300&family=Montez&family=Taviraj:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/global.css" />
  <title>Dr. Sillystringz's Factory</title>
</head>

<body>
  <header>
    <h1>Dr. Sillystringz</h1>
  </header>

  <div class="main">
    <div class="content">
      @RenderBody()
    </div>
  </div>

  <footer>
    <div id="footer-links">
      <a>@Html.ActionLink("Home", "Index", "Home")</a>
      <a>@Html.ActionLink("Personnel", "Index", "Engineers")</a>
      <a>@Html.ActionLink("Inventory", "Index", "Machines")</a>
    </div>
  </footer>
</body>

</html>